.app{
    height: 100vh;
    /* overflow:scroll */
    /* position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; */
}

.app__body{
    display:flex;
    /* position: fixed;
    top: 0; */
    height: calc(100vh - 81px);
}